@model SoundBarrierHunting.Models.Database.SubscriberInfo

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div id="SubscriberContainer">
@using (Html.BeginForm("Create","SubscriberInfo", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4 id="SubscriberText">Take your hunting to a new level! Subscribe now for insider tips and access to our industry-first products!</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group" id="SubscriberText">
                            @Html.Label("First Name:")
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required ="required" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="SubscriberText">
                            @Html.Label("Last Name:")
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="SubscriberText">
                            @Html.Label("Email:")
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required ="required" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" id="SubscriberText">
                            @Html.Label("Subscribe for updates")
                            <div class="col-md-12">
                                @Html.CheckBoxFor(model => model.IsSubscribed, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.IsSubscribed, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-success" />
                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                }
    </div>
    
    <div>
        @Html.ActionLink("Back to List", "Index", "Home")
    </div>
</body>
</html>
