    <div class="navbar navbar-inverse navbar-static-top" id="navbarTop">
        <div class="navbar navbar-inverse navbar-static-top" id="navbarTopMobile">
            <button class="navbar-toggle" id="navbarDropdown" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                    <li><a href="@Url.Action("Science", "Home")">The Science</a></li>
                    <li><a href="@Url.Action("ContactUs")">Contact Us</a></li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://twitter.com/SBNeverBeHeard">Twitter</a></li>
                            <li><a href="https://www.facebook.com/SoundBarrierHunting">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/company/sound-barrier-hunting">LinkedIn</a></li>
                            <li><a href="https://instagram.com/soundbarrierhunting/">Instagram</a></li>
                            <li><a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q">Youtube</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="navbar-brand navbar-left">
            <p class="text-left" id="navRect">
                <a href="@Url.Action("Index")">
                    <img class="SoundBarrierNav"
                         src="~/Content/BannerNoNBHA.png" />
                </a>
            </p>
        </div>

        <div class="navbar-header">
            <img id="navbarNBHA" class="SoundBarrierNav"
                 src="~/Content/NBHA.png" />
        </div>

        <div class="text-right" id="navMenu">
            <a href="@Url.Action("About", "Home")" id="navButtons">
                About Us
            </a>

            <a href="@Url.Action("Science", "Home")" id="navButtons">
                The Science
            </a>

            @*<a href="@Url.Action("Products","Home")" id="navButtons">
                    Products
                </a>*@

            <a href="@Url.Action("SoundAdvice","Home")" id="navButtonsSoundAdvice">
                Sound Advice
            </a>
        </div>
    </div>

@*Mobile Nav*@
<div class="visible-xs">
    <div class="navbar navbar-inverse navbar-static-top" id="navbarTopMobile">

        <div class="navbar-brand" id="mobileNavbarBrand">Sound Barrier</div>
        <button class="navbar-toggle" id="navbarDropdown" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">

            <ul class="nav navbar-nav navbar-right">

                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                <li><a href="@Url.Action("Science", "Home")">The Science</a></li>
                <li><a href="@Url.Action("ContactUs")">Contact Us</a></li>
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://twitter.com/SBNeverBeHeard">Twitter</a></li>
                        <li><a href="https://www.facebook.com/SoundBarrierHunting">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/company/sound-barrier-hunting">LinkedIn</a></li>
                        <li><a href="https://instagram.com/soundbarrierhunting/">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q">Youtube</a></li>
                        
                    </ul>

                </li>
                

            </ul>

        </div>

    </div>
    </div>
