    <div class="navbar navbar-inverse navbar-static-top" id="navbarTop">
        <div class="navbar-brand" id="navTopList">
            @*@Html.Action("_summary", "Cart")*@
            <ul>
                <li class="dropdown">
                    <a href="@Url.Action("About", "Home")" class="dropdown-toggle" id="navButtons">About</a>
                    <ul class="dropdown-menu" id="DropdownMenu">
                        <li><a href="@Url.Action("About","Home")" id="navMenuButton">Sound Barrier</a></li>
                        <li><a href="@Url.Action("Founder","Home")" id="navMenuButton">Outdoor Writer/Founder - Adam Lewis</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("SoundAdvice","Home")" class="dropdown-toggle" id="navButtons">Sound Advice</a>
                    <ul class="dropdown-menu" id="DropdownMenu">
                        <li><a href="@Url.Action("Videos","Video")" id="navMenuButton">Videos</a></li>
                        <li><a href="@Url.Action("Science","Home")" id="navMenuButton">Science</a></li>
                        <li><a href="@Url.Action("Articles","Home")" id="navMenuButton">Articles</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <img id="SoundBarrierNav"
                             src="~/Content/BannerNBHALarge.jpg" />
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Create", "SubscriberInfo")" id="navButtons">
                        Join Us
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ContactUs", "Home")" id="navButtons">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>  
        @*@Html.Partial("_LoginPartial")*@    
    </div>

@*Mobile Nav*@
<div class="visible-xs">
    <div class="navbar navbar-inverse navbar-static-top" id="navbarTopMobile">

        <button class="navbar-toggle navbar-inverse" id="navbarDropdown" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div id="mobileNavbarBrand">
            <a href="@Url.Action("Index", "Home")"> Sound Barrier Hunting</a>
        </div>

        <div class="collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right navbar-inverse">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                    <ul class="dropdown-menu" id="DropdownMenu">
                        <li><a href="@Url.Action("About","Home")" id="navMenuButton">Sound Barrier</a></li>
                        <li><a href="@Url.Action("Founder","Home")" id="navMenuButton">Outdoor Writer/Founder - Adam Lewis</a></li>
                    </ul>
                </li>
                <li @*class="dropdown"*@>
                    <a href="@Url.Action("SoundAdvice", "Home")" @*class="dropdown-toggle" data-toggle="dropdown"*@>Sound Advice</a>
                    @*<ul class="dropdown-menu" id="DropdownMenu">
                        <li><a href="@Url.Action("SoundAdvice", "Home")" id="navMenuButton">Sound Advice</a></li>
                        <li><a href="@Url.Action("Videos","Video")" id="navMenuButton">Videos</a></li>
                        <li><a href="@Url.Action("Science","Home")" id="navMenuButton">Science</a></li>
                        <li><a href="@Url.Action("Articles","Home")" id="navMenuButton">Articles</a></li>
                    </ul>*@
                </li>
                <li><a href="@Url.Action("Create", "SubscriberInfo")">Join Us</a></li>
                <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="DropdownMenu">
                        <li><a href="https://twitter.com/SBNeverBeHeard" id="navMenuButton">Twitter</a></li>
                        <li><a href="https://www.facebook.com/SoundBarrierHunting" id="navMenuButton">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/company/sound-barrier-hunting" id="navMenuButton">LinkedIn</a></li>
                        <li><a href="https://instagram.com/soundbarrierhunting/" id="navMenuButton">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UC7GApssU0dRgMRH7ODKOe5Q" id="navMenuButton">Youtube</a></li>
                    </ul>
                </li>              
            </ul>
        </div>
    </div>
</div>
