<div class="navbar navbar-inverse navbar-static-top" id="navbarTop">

    @*<a href="@Url.Action("Index")" class="navbar-brand navbar-left">
            <img class="SoundBarrierHorizontal"
                 src="~/Content/SoundBarrierHorizontal.jpg" />
        </a>*@
    <div class="navbar-brand navbar-left">
        <p class="text-left" id="navRect">
            <a href="@Url.Action("Index")">
                <img class="SoundBarrierNav"
                     src="~/Content/BannerNoNBHA.png" />
            </a>
        </p>
    </div>

    <div class="navbar-header">
        <img id="navbarNBHA" class="SoundBarrierNav"
             src="~/Content/NBHA.png" />
    </div>

    <div class="text-right" id="navMenu">
        <a href="@Url.Action("About", "Home")" id="navButtons">
            About Us
        </a>

        <a href="@Url.Action("Science", "Home")" id="navButtons">
            The Science
        </a>

        <a href="@Url.Action("Products","Home")" id="navButtons">
            Products
        </a>

        <a href="@Url.Action("SoundAdvice","Home")" id="navButtons">
            Sound Advice
        </a>
    </div>
</div>
