<div class="sidebar">
    <ul class="sidebar-nav navbar-left">
        <li id ="sidebarListItem" class="text-center">
            <a href="@Url.Action("Index", "Home")">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-home" style="color:black"></span>
                <div>Home</div>
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href="@Url.Action("About", "Home")">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-question-sign" style="color:black"></span>
                <div>About Us</div>
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href="@Url.Action("Science", "Home")">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-align-center" style="color:black"></span>
                <div>The Science</div>
            </a>
        </li>
        <li id="sidebarListItem" class="text-center" style="text-decoration-color:white">
            <a href="@Url.Action("Products","Home")">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-edit" style="color:#00ff21"></span>
                <div>Products</div>
            </a>
        </li>
        <li id="sidebarListItem" class="text-center">
            <a href="@Url.Action("SoundAdvice","Home")">
                <span id="sidebarGlyphs" class="glyphicon glyphicon-comment" style="color:#00ff21"></span>
                <div>Sound Advice</div>
            </a>
        </li>
    </ul>
</div>

