@using SoundBarrierHunting.HtmlHelpers;
@model SoundBarrierHunting.Models.ViewModels.VideosListViewModel

@{
    ViewBag.Title = "All Videos";
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="text-left" id="BackToVideosButton">
                <a href="@Url.Action("Videos", "Video")">Back to Videos</a>
            </div>
        </div>

        @*@using (Html.BeginForm())
        {
            <p>
                <input type="submit" value="Search" />
                @Html.DropDownList("videoCategories", "Select a category")                
            </p>
        }*@ 
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="allVideos">
                <div id="SoundAdviceContainer">
                    <div class="text-center" id="videoPadding">
                        <div>
                            @Html.PageLinks(Model.PagingInfo, x => Url.Action("AllVideos", new { page = x}))
                        </div>
                        @foreach (var v in Model.Videos)
                        {
                            <div  class="row" id="AllVideosRow">
                                <div class="col-lg-4">
                                    <iframe id="video" width="392" height="220"
                                            src="@v.Link"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="col-lg-8">
                                    <h1 class="text-left" id="VideoTitle">
                                        @v.Title
                                    </h1>
                                    <p class="text-left" id="VideoDescription">
                                        @v.Description
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>