@using SoundBarrierHunting.Models;
@using SoundBarrierHunting.Domain.Entities;
@model IEnumerable<Video>

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

        <div class="col-lg-8">
            <div class="text-center" id="RecentContent">Featured Video</div>
            <div id="VideoFrame">
                <div id="videoWrapper">
                    <iframe id="video" width="684" height="440"
                            src="https://www.youtube.com/embed/UjC8Lmx33KI"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="text-left" id="SoundAdviceBackButton">
                <a href="@Url.Action("SoundAdvice", "Home")">Back to Sound Advice</a>
            </div>
        </div>

        <div class="col-lg-4" id="VideoCategories">
            <div class="text-center" id="RecentContent">Videos by Category</div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("SoundBarrierInfo","Video")" id="VideosMenuButton"> 
                <img src="~/Content/VideoThumbnails/Story.JPG" id="Thumbnail"/>
                &nbsp Sound Barrier Story</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("EssentialHuntingTips","Video")" id="VideosMenuButton">
                <img src="~/Content/VideoThumbnails/BuckHead.jpg" id="Thumbnail"/>
                &nbsp Essential Hunting Tips</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("RulesOfSoundConcealment","Video")" id="VideosMenuButton">
                <img src="~/Content/VideoThumbnails/RuleOfHalves.jpg" id="Thumbnail"/>
                &nbsp Sound Concealment Rules</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("TheRut","Video")" id="VideosMenuButton"> 
                <img src="~/Content/VideoThumbnails/RutTechnique.jpg" id="Thumbnail"/>
                &nbsp The Rut</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("WhitetailHearingScience","Video")" id="VideosMenuButton">
                <img src="~/Content/VideoThumbnails/WhitetailHearing.png" id="Thumbnail"/>
                &nbsp Whitetail Hearing Science</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("HuntsAndWebisodes","Video")" id="VideosMenuButton"> 
                <img src="~/Content/VideoThumbnails/Thumbnail6.jpg" id="Thumbnail"/>
                &nbsp Hunts and Webisodes</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("AllVideos","Video")" id="VideosMenuButton"> 
                <img src="~/Content/VideoThumbnails/TrophyRoom.jpg" id="Thumbnail"/>
                &nbsp All Videos</a>
            </div>
        </div>
</body>
</html>