@using SoundBarrierHunting.Models;
@using SoundBarrierHunting.Domain.Entities;
@model IEnumerable<Video>

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

        <div class="col-lg-8">
            <div class="text-center" id="RecentContent">Featured Video</div>
            <div id="VideoFrame">
                <div id="videoWrapper">
                    <iframe id="video" width="684" height="440"
                            src="https://www.youtube.com/embed/UjC8Lmx33KI"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="text-left" id="SoundAdviceBackButton">
                <a href="@Url.Action("SoundAdvice", "Home")">Back to Sound Advice</a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="text-center" id="RecentContent">Videos by Category</div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("SoundBarrierInfo","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail1.jpg" id="Thumbnail"/>&nbsp Sound Barrier Info</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("EssentialHuntingTips","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail2.jpg" id="Thumbnail"/>&nbsp Essential Hunting Tips</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("RulesOfSoundConcealment","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail3.jpg" id="Thumbnail"/>&nbsp Sound Concealment Rules</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("TheRut","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail4.jpg" id="Thumbnail"/>&nbsp The Rut</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("WhitetailHearingScience","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail5.jpg" id="Thumbnail"/>&nbsp Whitetail Hearing Science</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("HuntsAndWebisodes","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail6.jpg" id="Thumbnail"/>&nbsp Hunts and Webisodes</a>
            </div>

            <div class="text-left" id="AllVideosButton">
                <a href="@Url.Action("AllVideos","Video")" id="VideosMenuButton"> <img src="~/Content/VideoThumbnails/Thumbnail7.jpg" id="Thumbnail"/>&nbsp All Videos</a>
            </div>
        </div>
</body>
</html>