@using SoundBarrierHunting.Models;
@using SoundBarrierHunting.Domain.Entities;
@model IEnumerable<Video>

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Videos</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/BoneToSize.jpg" id="SoundAdvicePhoto" />
    </div>

        <div class="col-lg-8">
            <div class="text-center" id="RecentContent">Featured Video</div>
            <div id="VideoFrame">
                <div id="videoWrapper">
                    <iframe id="video" width="684" height="440"
                            src="https://www.youtube.com/embed/UjC8Lmx33KI"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="text-left" id="SoundAdviceBackButton">
                <a href="@Url.Action("SoundAdvice", "Home")">Back to Sound Advice</a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="text-center" id="RecentContent">Videos by Category</div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("SoundBarrierInfo","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">Sound Barrier Info</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("EssentialHuntingTips","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">Essential Hunting Tips</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("RulesOfSoundConcealment","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">Rules of Sound Concealment</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("TheRut","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">The Rut</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("WhitetailHearingScience","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">Whitetail Hearing Science</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("HuntsAndWebisodes","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">Hunts and Webisodes</a>
            </div>

            <div class="text-center" id="AllVideosButton">
                <a href="@Url.Action("AllVideos","Video")" class="btn btn-success btn-lg" id="VideosMenuButton">All Videos</a>
            </div>
        </div>
</body>
</html>